{% from "macros/buttons.html" import btn %}

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <ul class="p0">
                {% if back_url %}
                    <li>
                        {{ btn(back_url, icon="arrow_back", style="") }}
                    </li>
                {% endif %}
            </ul>
            {% if nav_title %}
                <a class="brand-logo center">
                    {% if nav_title is number %}
                        {{ nav_title|currency }}
                    {% else %}
                        {{ nav_title|truncate(12, True, '...', 0) }}
                    {% endif %}
                </a>
            {% endif %}
        </div>
    </nav>
</div>