{% extends "base.html" %}

{% from "macros/buttons.html" import fixed_btn, modal_btn, btn %}
{% from "macros/modals.html" import modal %}
{% from "macros/form_fields.html" import string_field, switch_field, submit_field %}
{% from "macros/tables.html" import table_header, td_data %}
{% from "macros/ui.html" import tr_style, delete_button_ui %}

{% block main %}

    <section>
        {% if object.ingredients %}
            <table>
                {{ table_header(["Name", "Actions"]) }}
                <tbody>
                {% for ingredient in object.ingredients|sort(attribute="name") %}
                    <tr {{ tr_style(ingredient) }}>
                        {{ td_data([ingredient.name|title]) }}
                        <td class="right-align">
                            {{ modal_btn("Edit"+ingredient.id, "edit") }}
                            {% call modal("Edit"+ingredient.id, "Edit "+ingredient.name|title) %}

                                <form hx-put="" class="row">
                                    {{ form.csrf_token() }}
                                    <input type="hidden" name="id" value="{{ ingredient.id }}">
                                    {{ string_field(form.name, ingredient.name|title) }}
                                    {{ switch_field(form.active, ingredient.active) }}
                                    {{ submit_field(form.submit) }}
                                </form>

                            {% endcall %}
                            {{ delete_button_ui(ingredient) }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <h1 class="center-align">No Ingredients found for {{ object.name|title }}</h1>
        {% endif %}
    </section>

    {{ fixed_btn(pulse=True if object.ingredients|count == 0) }}

    {% call modal(title="Add Ingredient") %}

        <form action="" method="POST" class="row">
            {{ form.csrf_token() }}
            {{ string_field(form.name) }}
            {{ submit_field(form.submit) }}
        </form>

    {% endcall %}

{% endblock %}