{% extends "base.html" %}

{% from "macros/buttons.html" import fixed_btn, modal_btn, btn %}
{% from "macros/modals.html" import modal %}
{% from "macros/form_fields.html" import string_field, switch_field,select_field, submit_field %}
{% from "macros/tables.html" import table_header, td_data %}
{% from "macros/ui.html" import tr_style, delete_button_ui %}

{% block main %}

    <section>
        {% if object.ingredients %}
            <table>
                {{ table_header(["Name","Amount", "Unit", "Actions"]) }}
                <tbody>
                {% for ingredient in object.ingredients|sort(attribute="name") %}
                    <tr>
                        {{ td_data([ingredient.ingredient.name|title, ingredient.amount, ingredient.unit]) }}
                        <td class="right-align">
                            {{ delete_button_ui(ingredient) }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <h1 class="center-align">No ingredients</h1>
        {% endif %}
    </section>

    {{ fixed_btn(pulse=True if object.ingredients|count == 0) }}

    {% call modal(title="Add Ingredient") %}
        <form action="" method="POST" class="row">
            {{ form.csrf_token() }}
            {{ select_field(form.ingredient_id) }}
            {{ string_field(form.amount) }}
            {{ select_field(form.unit) }}
            {{ submit_field(form.submit) }}
        </form>
    {% endcall %}

{% endblock %}