{% extends "base.html" %}

{% from "macros/buttons.html" import fixed_btn, modal_btn, btn %}
{% from "macros/modals.html" import modal %}
{% from "macros/form_fields.html" import string_field, switch_field, submit_field %}
{% from "macros/tables.html" import table_header, td_data %}
{% from "macros/ui.html" import tr_style, delete_button_ui %}

{% block main %}

    <section>

        {% if object.products %}
            <table>
                {{ table_header(["Name", "Price", "Actions"]) }}
                <tbody>
                {% for product in object.products %}
                    <tr {{ tr_style(product) }}>
                        {{ td_data([product.name|title, product.price|currency]) }}
                        <td class="right-align">
                            {{ modal_btn("Options"+product.id, icon="menu") }}
                            {% call modal("Options"+product.id, title=product.name|title+" Options") %}
                                <div class="row">
                                    <div class="col s6 m-half">
                                        {{ btn(url_for("product.ingredients", id=product.id), "Ingredients", style="btn-large btn-full") }}
                                    </div>
                                    <div class="col s6 m-half">
                                        {{ btn('', "Variants", style="btn-large btn-full") }}
                                    </div>
                                </div>
                            {% endcall %}
                            {{ modal_btn("Edit"+product.id, icon="edit") }}
                            {% call modal("Edit"+product.id, "Edit "+product.name|title) %}
                                <form hx-put="" class="row">
                                    {{ form.csrf_token }}
                                    <input type="hidden" name="id" value="{{ product.id }}">
                                    {{ string_field(form.name, product.name|title) }}
                                    {{ string_field(form.short_name, product.short_name|title) }}
                                    {{ string_field(form.description, product.description) }}
                                    {{ string_field(form.price, product.price|currency) }}
                                    {{ switch_field(form.active, product.active, "Active") }}
                                    {{ submit_field(form.submit) }}
                                </form>
                            {% endcall %}
                            {{ delete_button_ui(product) }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <h1 class="center-align">No Products found.</h1>
        {% endif %}

    </section>

    {{ fixed_btn(pulse=True if object.products|count == 0) }}

    {% call modal(title="Add Product") %}
        <form action="" method="POST" class="row">
            {{ form.csrf_token() }}
            {{ string_field(form.name) }}
            {{ string_field(form.short_name) }}
            {{ string_field(form.description) }}
            {{ string_field(form.price) }}
            {{ submit_field(form.submit) }}
        </form>
    {% endcall %}

{% endblock %}