{% extends "base.html" %}

{% from "macros/buttons.html" import fixed_btn, modal_btn, btn %}
{% from "macros/modals.html" import modal %}
{% from "macros/form_fields.html" import string_field, switch_field, submit_field %}
{% from "macros/tables.html" import table_header, td_data %}
{% from "macros/ui.html" import tr_style, delete_button_ui %}

{% block main %}

    <section>
        {% if object.variants %}
            <table>
                {{ table_header(["name", "price", "actions"]) }}
                <tbody>
                {% for variant in object.variants %}
                    <tr {{ tr_style(variant) }}>
                        {{ td_data([variant.name|title, variant.price|currency]) }}
                        <td class="right-align">
                            {{ modal_btn("Edit"+variant.id, "edit") }}
                            {% call modal("Edit"+variant.id, "Edit "+variant.name|title) %}
                                <form hx-put="" class="row">
                                    {{ form.csrf_token() }}
                                    <input type="hidden" name="variant_id" value="{{ variant.id }}">
                                    {{ string_field(form.name, variant.name|title) }}
                                    {{ string_field(form.short_name, variant.short_name|title) }}
                                    {{ string_field(form.price, variant.price|currency) }}
                                    {{ switch_field(form.active, variant.active) }}
                                    {{ submit_field(form.submit) }}
                                </form>
                            {% endcall %}
                            {{ delete_button_ui(variant) }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <h1 class="center-align">No Variants available.</h1>
        {% endif %}
    </section>

    {{ fixed_btn(pulse=True if object.variants|count == 0) }}
    {% call modal(title="Add Variant") %}
        <form action="" method="POST" class="row">
            {{ form.csrf_token() }}
            {{ string_field(form.name) }}
            {{ string_field(form.short_name) }}
            {{ string_field(form.price, object.price|currency) }}
            {{ submit_field(form.submit) }}
        </form>
    {% endcall %}

{% endblock %}