{% extends "base.html" %}

{% from "macros/buttons.html" import fixed_btn, modal_btn %}
{% from "macros/modals.html" import modal, delete_modal %}
{% from "macros/form_fields.html" import string_field, submit_field %}
{% from "macros/tables.html" import table_header, td_data %}

{% block main %}

    <section>
        {% if object_list %}
            <table>
                {{ table_header(("Name", "Short Name", "Actions")) }}
                <tbody>
                {% for object in object_list %}
                    <tr>
                        {{ td_data((object.name|title, object.short_name|upper)) }}
                        <td class="right-align">

                            {{ modal_btn("EditProductType"+object.id, icon="update", style="btn-small") }}
                            {% call modal("EditProductType"+object.id, "Edit "+object.name|title) %}
                                <form hx-put="" class="row">
                                    {{ form.csrf_token }}
                                    <input type="hidden" name="id" value="{{ object.id }}">
                                    {{ string_field(form.name(value=object.name|title), "Name") }}
                                    {{ string_field(form.short_name(value=object.short_name|upper), "Short Name") }}
                                    {{ submit_field(form.submit) }}
                                </form>
                            {% endcall %}

                            {{ modal_btn("DeleteProductType"+object.id, icon="delete", style="btn-small red") }}
                            {{ delete_modal("DeleteProductType"+object.id, object) }}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2 class="center-align">No Product Types found in the database</h2>
        {% endif %}
    </section>

    {{ fixed_btn("AddProductType", pulse=True if object_list|count == 0) }}

    {% call modal("AddProductType", "Add Product Type") %}
        <form action="" method="POST" class="row">
            {{ form.csrf_token }}
            {{ string_field(form.name) }}
            {{ string_field(form.short_name) }}
            {{ submit_field(form.submit) }}
        </form>
    {% endcall %}

{% endblock %}