{% extends "base.html" %}

{% from "macros/buttons.html" import fixed_btn, modal_btn, btn %}
{% from "macros/modals.html" import modal %}
{% from "macros/form_fields.html" import string_field, switch_field, submit_field %}
{% from "macros/tables.html" import table_header, td_data %}
{% from "macros/ui.html" import tr_style, delete_button_ui %}

{% block main %}

    <section>
        {% if object.category_types %}
            <table>
                {{ table_header(["Name", "Actions"]) }}
                <tbody>
                {% for cat_type in object.category_types %}
                    <tr {{ tr_style(cat_type) }}>
                        {{ td_data([cat_type.name|title]) }}
                        <td class="right-align">
                            {{ btn() }}
                            {{ modal_btn("Edit"+cat_type.name|title, "edit") }}
                            {% call modal("Edit"+cat_type.name|title, "Edit "+cat_type.name|title) %}
                                <form hx-put="" class="row">
                                    {{ form.csrf_token() }}
                                    <input type="hidden" name="id" value="{{ cat_type.id }}">
                                    {{ string_field(form.name, cat_type.name|title) }}
                                    {{ switch_field(form.active, cat_type.active, label="Active") }}
                                    {{ submit_field(form.submit) }}
                                </form>
                            {% endcall %}
                            {{ delete_button_ui(cat_type) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1 class="center-align">No Category-Types found for {{ object.name|title }}</h1>
        {% endif %}
    </section>

    {{ fixed_btn(pulse=True if object.category_types|count == 0) }}
    {% call modal(title="Add Category") %}
        <form action="" method="POST" class="row">
            {{ form.csrf_token() }}
            {{ string_field(form.name) }}
            {{ switch_field(form.active, True, label="Active") }}
            {{ submit_field(form.submit) }}
        </form>
    {% endcall %}

{% endblock %}