{# ***** Link-Button ***** #}
{% macro btn(route, text, icon=None, style="btn-small", color=None) %}
    <a href="{{ route }}" class="{{ style }}{{ " "+color if color }}">
        {% if icon %}
            <i class="material-icons">{{ icon }}</i>
        {% else %}
            {{ text }}
        {% endif %}
    </a>
{% endmacro %}

{% macro list_btn(route, icon="list") %}
    <a href="{{ route }}" class="btn-small grey darken-3">
        <i class="material-icons">{{ icon }}</i>
    </a>
{% endmacro %}

{# ***** Modal Button ***** #}
{% macro modal_btn(target, icon, style="btn") %}
    <button data-target="{{ target }}Modal" class="{{ style }} modal-trigger">
        <i class="material-icons">{{ icon }}</i>
    </button>
{% endmacro %}

{# ***** Fixed Button / Floating Button ***** #}
{% macro fixed_btn(target, icon="add", modal=True, pulse=False) %}
    <div class="fixed-action-btn">
        {% if modal %}
            <a href="#{{ target }}Modal" class="btn-floating btn-large modal-trigger {{ "pulse" if pulse }}">
                <i class="large material-icons">{{ icon }}</i>
            </a>
        {% else %}
            <a href="{{ target }}" class="btn-floating btn-large {{ "pulse" if pulse }}">
                <i class="large material-icons">{{ icon }}</i>
            </a>
        {% endif %}
    </div>
{% endmacro %}
