{% macro string_field(field, field_value=None, style="s12") %}
    <div class="col {{ style }} input-field outlined m-half">
        {% if field_value %}
            {{ field(value=field_value) }}
        {% else %}
            {{ field }}
        {% endif %}
        {{ field.label }}
    </div>
{% endmacro %}

{% macro submit_field(field, style="s12") %}
    <div class="col {{ style }} m-half">
        {{ field }}
    </div>
{% endmacro %}


{% macro switch_field(field, checked_value=False, label=None) %}
    <div class="col s12 m-half">
        <div class="switch">
            {% if label %}
                <span>{{ label }} &nbsp; &colon;</span>
            {% endif %}
            <label>
                Off
                {% if checked_value %}
                    {{ field(checked=checked_value) }}
                {% else %}
                    {{ field }}
                {% endif %}
                <span class="lever"></span>
                On
            </label>
        </div>
    </div>
{% endmacro %}