{% macro table_header(headers) %}
    <thead>
    <tr>
        {% for header in headers %}
            <th class="{{ "right-align" if loop.last }}">{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
{% endmacro %}

{% macro td_data(values) %}
    {% for value in values %}
        <td>{{ value }}</td>
    {% endfor %}
{% endmacro %}

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Item Name</th>
        <th>Item Price</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
    </tr>
    <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
    </tr>
    <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
    </tr>
    </tbody>
</table>